<!DOCTYPE html>
{% extends 'base.html' %}

{% block title_block %}
  Home
{% endblock %}

{% block body_block %}

  <div class="signup-form">
    {{ form.non_field_errors }}
      <form action="{% url 'symbol_data_request' %}" method="POST" autocomplete="off">
        {% csrf_token %}
    		<div class="form-header">
    			<h2>Select Option</h2>
    			<p>Find Symbol Data based on Option Selected</p>
    		</div>
          <div class="form-group">
            {{ form.symbol.errors }}
      			<label>Symbol</label>
            {{ form.symbol }}
          </div>

      		<div class="form-group">
      			<button type="submit" class="btn btn-primary btn-block btn-lg">Search</button>
      		</div>
      </form>

      {% if request_success %}
        {{ symbol_table }}
      {% endif %}

  </div>

{% endblock %}
